.p1{
    width: 400px;
    line-height: normal;
}
.p2{
    width: 400px;
    line-height: 200%;
}
.p3{
    width: 400px;
    line-height: 50%;
}
 /* height  设置元素高度
     line-height 设置行高
     max-height 设置元素最大高度
     max-width 设置元素最大宽度
     min-width 设置元素最小宽度
     min-height 设置元素最小高度
     width 设置元素宽度 
     
     clear 设置一个元素的侧面是否允许其他的浮动元素
     cursor 规定当指向某元素之上时显示的指针类型
     display 设置是否及如何显示元素
     float 定义元素在那个方向浮动把元素放置到一个静态的、相对的、绝对的、
     position 固定的位置
     visibility 设置元素是否可见或不可见 */